<main class="main">
  <div class="container">
    <!-- <nav aria-label="breadcrumb" class="breadcrumb-wrapper">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Author Panel</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Workshops</a>
        </li>
        <li class="breadcrumb-item">
          <span>Setting Accessibility Shortcuts</span>
        </li>
      </ol>
    </nav> -->
    <router-outlet></router-outlet>
  </div>
</main>
